logbook:
    excluded:
        paths: /**
openapi:
    enabled: false
server:
    forward-headers-strategy: framework
spring:
    application:
        name: spring-boot-admin
    flyway:
        enabled: false
    boot:
        admin:
            client:
                # Prevent spring boot admin client from registering itself
                enabled: false
            ui:
                title: ${config.ui.title}
                brand: ${config.ui.brand}
                remember-me-enabled: false
            monitor:
                # Time interval to check the status of instances (in ms).
                status-interval: 30000
                # Lifetime of status. The status won't be updated as long the last status isn't expired (in ms).
                status-lifetime: 120000
            journal:
                retention-days: 30
                max-events-per-instance: 1000
            notify:
                # Slack integration
                slack:
                    enabled: ${config.slack.enabled}
                    webhook-url: ${config.slack.webhook-url}
                    ignore-changes: UNKNOWN:*
                    message: '*#{instance.registration.name}* (#{instance.id}) is *#{event.statusInfo.status}*'
    security:
        # Enable or disble security (e.g. authentication). Default if missing: true
        enabled: false
        user:
            name: ${config.security.name}
            password: ${config.security.password}
    cloud:
        kubernetes:
            discovery:
                all-namespaces: true
                service-labels:
                    spring-boot: true
scheduler:
    journal:
        retention:
            cron:
                expression: "0 0 * * * *"
            name: journal-retention-cleanup
            lock-at-most-for: PT10M
            maximum-execution-time: PT10M
